<%= form_for(grade) do |f| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.hidden_field :student_id %>
  </div>


  <div class="field">
    <%= f.hidden_field :teacher_id %>
  </div>

  <div class="field">
    <%= f.label :performance_grade %>
    <%= f.select :grade_letter, options_for_select(%w[Not-started" Working-at Working-towards Greater-depth])%>
  </div>

  <div class="field">
    <%= f.label :grade_type %>
    <%= f.select :grade_type, options_for_select(%w[Annual Termly Practice])%>
  </div>

  <div class="field">
    <%= f.label :grade_date %>
    <%= f.date_select :grade_date %>
  </div>

  <div class="field">
    <%= f.label :feedback %>
    <%= f.text_area :feedback %>
  </div>

<!--
  <div class="field">
    <%= f.label :percentage_score %>
    <%= f.number_field :percentage_score, min: 0, max: 100 %>
  </div>
-->







    <div class="field">
    <%= f.hidden_field :subject%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
