<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
      <li>
  <%= link_to('Settings', edit_user_registration_path)  %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> (Student) </h1>

<% @teacher.each do |user| %>
    <h2>Teacher:
        <%= link_to user.first_name %>
    <h2>
<% end %>

<h3>List of English grades</h3>
<% @all_english_grades.each do |grades| %>
<h4><%= grades.title %> <%= grades.grade_date %></h4>
    <li>Feedback: "<%= grades.feedback  %>"
    </li>
     <li>Performance:
        <%=grades.performance_grade  %>
    </li>
    <li>Grade subcategory:
        <%=grades.subcategory%>
    </li>
<% end %>