<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%=link_to('Home', root_path)%></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>

<h1><%= current_user.first_name %> <%= current_user.last_name %> (Student) </h1>


    <h5>Teacher:
        <%= @teacher_other.first_name %> <%= @teacher_other.last_name %>
    <h5>

<!-- Tips for parents -->

<div type = 'teacher_tips'>

<h3>Feedback tip</h3>

<p> <%= @tip.body %> </p>

</div>



<% unless @all_tasks.blank? %>
    <h3>Task</h3>
<% end %>

<% @all_tasks.each do |task| %>
<li>
    <p><b> <%= task.task %> -  </b><%= task.subject %> - due: <%= task.due_date%> </p>
</li>
<% end %>




<% unless @all_english_grades.blank? %>
<h3>Most recent English grades</h3>
<% end %>

<% @latest_two_english_grade.each do |grades| %>
  <div class="card">
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
    <% if grades.performance_grade == 'Not-started' && grades.subcategory == 'Writing' %>

        <% unless @generated_feedback_writing_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% end %>
</div>
<% end %>

<%= link_to('View all English Grades', new_user_session_path)  %>



<!-- Maths grades -->


<% unless @all_maths_grades.blank? %>
<h3>Most recent Maths grades</h3>
<% end %>
<% @latest_two_maths_grade.each do |grades| %>


  <div class="card">
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
 <% if grades.performance_grade == 'Not-started' && grades.subcategory == 'Number' %>

        <% unless @generated_feedback_number_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Number' %>
        <% unless @generated_feedback_number_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Number' %>
        <% unless @generated_feedback_number_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Number' %>
        <% unless @generated_feedback_number_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% end %>
  </div>
<% end %>


<%= link_to('View all Maths Grades', new_user_session_path)  %>


