<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
      <li>
  <%= link_to('Settings', edit_user_registration_path)  %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> (Student) </h1>


    <h3>Teacher:
        <%= @teacher_other.first_name %> <%= @teacher_other.last_name %>
    <h3>

<h3>Task</h3>

<% @all_tasks.each do |task| %>
<li>
    <p><b> <%= task.task %> -  </b><%= task.subject %> - due: <%= task.due_date%> </p>
</li>
<% end %>

<h3>List of English grades</h3>
<% @all_english_grades.each do |grades| %>
<h4><%= grades.title %> (<%=grades.subcategory%>) <%= grades.grade_date %></h4>
    <li>Performance:
        <%=grades.performance_grade  %>
    </li>
    <li>Feedback: "<%= grades.feedback  %>"
    </li>
    <% if grades.performance_grade == 'Not-started' && grades.subcategory == 'Writing' %>

        <% unless @generated_feedback_writing_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% end %>

<% end %>











<h3>List of Maths grades</h3>
<% @all_maths_grades.each do |grades| %>
<h4><%= grades.title %> (<%=grades.subcategory%>) <%= grades.grade_date %></h4>
    <li>Performance:
        <%=grades.performance_grade  %>
    </li>
    <li>Feedback: "<%= grades.feedback  %>"
    </li>
   <% unless @generated_feedback.blank? %>
         <li> Generated feedback:  <%= @generated_feedback.auto_feedback %> </li>
    <% end %>
<% end %>