<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
      <li>
  <%= link_to('Settings', edit_user_registration_path)  %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<h1>student summary </h1>

<h2> <%= @student.first_name %> <%= @student.last_name %> </h2>

<li> <%= @student.email %> </li>
<br>
<%= link_to('Create Grade', choose_subjects_path(:student_id => @student.id, :teacher_id => current_user.id))  %>
<br>
<%= link_to "Back", teacher_index_path %>
<br>

<h2>List of English grades</h2>

<% @all_english_grades.each do |grades| %>
<h4><%= grades.title %> <%= grades.grade_date %></h4>

     <li>Grade subcategory:
        <%=grades.subcategory  %>
    </li>
         <li>Performance:
        <%=grades.performance_grade%>
    </li>
        <li>Feedback: "<%= grades.feedback  %>"
    </li>
        <li>Grade id:
        <%=grades.id%>
    </li>
    <%= link_to('Edit', edit_english_grade_path(grades)) %> |

<% end %>


<br>
<br>
