<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
      <li>
  <%= link_to('Settings', edit_user_registration_path)  %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<h1>student summary </h1>

<h2> <%= @student.first_name %> <%= @student.last_name %> </h2>

<li> <%= @student.email %> </li>
<br>
<%= link_to('Create Grade', new_grade_path(:student_id => @student.id))  %>
<br>
<%= link_to "Back", teacher_index_path %>
<br>

<h2>List of grades</h2>
<% @all_grades.each do |grades| %>
<h4><%= grades.subject %> <%= grades.grade_date %></h4>
    <li>Feedback: "<%= grades.feedback  %>"
    </li>
     <li>Percentage:
        <%=grades.percentage_score  %>
    </li>
         <li>Letter grade:
        <%=grades.grade_letter%>
    </li>
    <li>Grade type:
        <%=grades.grade_type%>
    </li>
        <li>Grade id:
        <%=grades.id%>
    </li>
    <%= link_to('Edit', edit_grade_path(:grade_id => grades.id, :student_id => grades.student_id )) %>
    <td><%= link_to 'Delete', grades, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>




<br>
<br>
