<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>


<h2> <%= @student.first_name %> <%= @student.last_name %> </h2>

<li> <%= @student.email %> </li>
<li> Number of logins: <%= @student.sign_in_count %> </li>
<li> Last logged in <%= distance_of_time_in_words(Time.zone.now, @student.last_sign_in_at.to_time) %> ago </li>
<br>






<div class = "row">
<!-- English grades -->
<div class = "col-md-6">
<% unless @latest_two_english_grade.blank? %>
<h3>Most recent English grades</h3>
<% end %>

<% @latest_two_english_grade.each do |grades| %>

  <div class="card">
        <div class="card-actions animate">
      <% if Time.zone.now < grades.grade_date && current_user.type == 'Teacher' %> <%= link_to('Edit', edit_english_grade_path(grades)) %> |
      <td><%= link_to 'Delete', grades, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% elsif current_user.type == 'Teacher' %>
          Grade delivered
      <% end %>
    </div>
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
    <% if Time.zone.now < grades.grade_date %>
      <li> Goes live in <%= distance_of_time_in_words(Time.zone.now, grades.grade_date) %>  </li>
    <% else %>
      <li> Published <%= distance_of_time_in_words(Time.zone.now, grades.grade_date) %> ago</li>
    <% end %>
    <% if @student.last_sign_in_at >= grades.grade_date %>
    <li> read</li>
    <% else %>
    <li> unread </li>
<% end %>

</div>
<% end %>

<% unless @latest_two_english_grade.blank? %>
<%= link_to('View all English Grades', english_grade_path(:id => @student.id) )  %> 
<% end %>
 | <%= link_to('Create English Grade', new_english_grade_path(:student_id => @student.id, :teacher_id => current_user.id))  %>

</div>
<!-- Maths grades -->
<div class = "col-md-6">

<% unless @latest_two_maths_grade.blank? %>
<h3>Most recent Maths grades</h3>
<% end %>
<% @latest_two_maths_grade.each do |grades| %>


  <div class="card">
        <div class="card-actions animate">
      <% if Time.zone.now < grades.grade_date && current_user.type == 'Teacher' %> <%= link_to('Edit', edit_english_grade_path(grades)) %> |
      <td><%= link_to 'Delete', grades, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% elsif current_user.type == 'Teacher' %>
      Grade delivered
      <% end %>
    </div>
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
    <% if Time.zone.now < grades.grade_date %>
      <li> Goes live in <%= distance_of_time_in_words(Time.zone.now, grades.grade_date) %>  </li>
    <% else %>
      <li> Published <%= distance_of_time_in_words(Time.zone.now, grades.grade_date) %> ago</li>
    <% end %>

    <% if @student.last_sign_in_at >= grades.grade_date %>
    <li> read</li>
    <% else %>
    <li> unread </li>
<% end %>

  </div>
<% end %>

<% unless @latest_two_maths_grade.blank? %>
<%= link_to('View all Maths Grades', maths_grade_path(:id => @student.id) )  %> 
<% end %>
|
<%= link_to('Create Maths Grade', new_maths_grade_path(:student_id => @student.id, :teacher_id => current_user.id))  %>



</div>
</div>

<br>
<%= link_to "Back", teacher_index_path %>
<br>





<!-- Maths grades -->


