<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
        <li>
  <%= link_to('Settings', edit_user_registration_path)  %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>


<h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> (Teacher) </h1>

<h2> Email: <%= current_user.email %> </h2>
<h2> ID: <%= current_user.id %> </h2>


<h3>List of students</h3>

<% @all_users.each do |student| %>
    <li>
        <%= link_to student.first_name, student %>
    </li>
<% end %>

<h3>Create feedback generator</h3>

<%= link_to('Create feedback generator', choose_feedback_generator_index_path(:teacher_id => @teacher.id))  %>

<h3>English auto feedbacks (current)</h3>
<h5>Not Started</h5>
<% if @recent_not_started.blank? %>
<h5>Create</h5>
<% else %>

Generated feedback:  "<%= @recent_not_started.auto_feedback %>" </li>
<br>
<%= link_to('Edit', edit_generated_feedback_path(@recent_not_started))  %>
<% end -%>

<h5>Working towards</h5>
<% if @recent_working_towards.blank? %>
<%= link_to('Create English Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'English'))  %>
<% else %>

Generated feedback:  "<%= @recent_working_towards.auto_feedback %>" </li>

<% end -%>
<h5>Working at</h5>

<% unless @recent_working_at.blank? %>

Generated feedback:  "<%= @recent_working_at.auto_feedback %>" </li>
<% end -%>
<h5>Greater depth</h5>
<% unless @recent_greater_depth.blank? %>

Generated feedback:  "<%= @recent_greater_depth.auto_feedback %>" </li>
<% end -%>