<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>


<h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> (Teacher) </h1>

<!--Tasks begin -->


<h3>Tasks</h3>
<%= link_to('New task', new_task_path(:teacher_id => @teacher.id))  %>
<br>
<% @all_tasks.each do |task| %>
<li>
    <p><b> <%= task.task %> -  </b><%= task.subject %> - due: <%= task.due_date%>  <%= link_to('Edit', edit_task_path(task))  %> | <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
</li>
<% end %>

<!-- List of the students -->
<h3>List of students</h3>

<% @all_students.each do |student| %>
    <li>
        <%= link_to student.first_name, student %>
    </li>
<% end %>


<%= link_to('Auto feedbacks', edit_auto_gens_path)  %>



<h3>Shortcut text</h3>
<%= link_to('New Shortcut text', new_shortcut_text_path(:teacher_id => @teacher.id))  %>
<br>
<% @all_shortcut_texts.each do |shortcut| %>
<li>
    <p><b> <%= shortcut.body %> -  </b>  </p> <%= link_to('Edit', edit_shortcut_text_path(shortcut))  %> | <td><%= link_to 'Delete', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
</li>
<% end %>



<div class="container" data-behaviour="search-on-list">
  <input type="text" class="input-query" data-search-on-list="search" placeholder="Search name or last name..."/>
  <span class="counter" data-search-on-list="counter"></span>
  <div class="list-wrap">
  <ul class="list" data-search-on-list="list">
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Ali <span class="item-list-subtext">Smith</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Alia <span class="item-list-subtext">Johnson</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Amira<span class="item-list-subtext">Johnson</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Omar<span class="item-list-subtext">Davis</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Aaron<span class="item-list-subtext">Davis</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Bailey <span class="item-list-subtext">Moore</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Noah<span class="item-list-subtext">Thomas</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Liam<span class="item-list-subtext">Garcia</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Dakota<span class="item-list-subtext">Garcia</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Olivia<span class="item-list-subtext">Taylor</span></a>
    </li>
    <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Mason<span class="item-list-subtext">Garcia</span></a>
    </li>
       <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Abigail<span class="item-list-subtext">Martin</span></a>
    </li>
       <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Emily<span class="item-list-subtext">Robinson</span></a>
    </li>
       <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Emily<span class="item-list-subtext">García</span></a>
    </li>
       <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">John<span class="item-list-subtext">Robinson</span></a>
    </li>
           <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Emily<span class="item-list-subtext">Clark</span></a>
    </li>
           <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Aurora<span class="item-list-subtext">Lewis</span></a>
    </li>
           <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Adeline<span class="item-list-subtext">Robinson</span></a>
    </li>
           <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">John<span class="item-list-subtext">García</span></a>
    </li>
               <li class="list-item" data-search-on-list="list-item">
      <a href="" class="list-item-link">Isla<span class="item-list-subtext">Lewis</span></a>
    </li>
  </ul>
  </div>
</div>

