<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<meta name="turbolinks-cache-control" content="no-cache">
</head>


<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>


<h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> (Teacher) </h1>

<!--Tasks begin -->



<h3>Tasks</h3>
<%= link_to('New task', new_task_path(:teacher_id => @teacher.id))  %>
<br>
<% @all_tasks.each do |task| %>
<li>
    <p><b> <%= task.task %> -  </b><%= task.subject %> - due: <%= task.due_date%>  <%= link_to('Edit', edit_task_path(task))  %> | <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
</li>
<% end %>

<!-- List of the students -->


<%= link_to('Auto feedbacks', edit_auto_gens_path)  %>



<h3>Shortcut text</h3>
<%= link_to('New Shortcut text', new_shortcut_text_path(:teacher_id => @teacher.id))  %>
<br>
<% @all_shortcut_texts.each do |shortcut| %>
<li>
    <p><b> <%= shortcut.body %> -  </b>  </p> <%= link_to('Edit', edit_shortcut_text_path(shortcut))  %> | <td><%= link_to 'Delete', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
</li>
<% end %>



<div class="container" data-behaviour="search-on-list">
  <input type="text" class="input-query" data-search-on-list="search" placeholder="Search name or last name..."/>
  <span class="counter" data-search-on-list="counter"></span>
  <div class="list-wrap">
  <ul class="list" data-search-on-list="list">
    <% @all_students.each do |student| %>
    <li class="list-item" data-search-on-list="list-item">
      <a href="../student/<%= student.id%>" class="list-item-link"> <%= student.first_name %> <span class="item-list-subtext"><%= student.last_name %></span></a>
    </li>
<% end %>

  </ul>
  </div>
</div>

