<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<meta name="turbolinks-cache-control" content="no-cache">
<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
</head>


<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>

<body>
  <h1> <%= current_user.first_name %> <%= current_user.last_name %> (Teacher) </h1>


<div class = "row">
  <!--The left hand side -->
<div class = "col-md-4">
  <!-- top left -->
  <div class ="row">
        <div class="container" data-behaviour="search-on-list">
      <input type="text" class="input-query" data-search-on-list="search" placeholder="Search name or last name..."/>

      <div class="list-wrap">
      <ul class="list" data-search-on-list="list">
        <% @all_students.each do |student| %>
        <li class="list-item" data-search-on-list="list-item">
          <a href="../student/<%= student.id%>" class="list-item-link"> <%= student.first_name %> <span class="item-list-subtext"><%= student.last_name %></span></a>
        </li>
    <% end %>
      </ul>
      </div>
    </div>
  </div>
  <!-- second left -->
  <div class ="row">
    <div class = "container1">
    <%= students_by_logins %>
  </div>
  </div>
</div>

  <!--Middle section - empty -->
<div class = "col-md-4">
</div>

<!-- Right hand side -->
<div class = "col-md-4">
       <!-- Right Hand Side - Second row -->
      <div class = "row">
     <h3>Tasks</h3>
      <%= link_to('New task', new_task_path(:teacher_id => @teacher.id))  %>
      <br>
      <% @all_tasks.each do |task| %>
      <li>
          <p><b> <%= task.task %> -  </b><%= task.subject %> - due: <%= task.due_date%>  <%= link_to('Edit', edit_task_path(task))  %> | <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
      </li>
      <% end %>

      <%= link_to('Auto feedbacks', edit_auto_gens_path)  %>
    </div>

<!-- Right Hand Side - Second row -->
    <div class = "row">
      <h3>Shortcut text</h3>
      <%= link_to('New Shortcut text', new_shortcut_text_path(:teacher_id => @teacher.id))  %>
      <br>
      <% @all_shortcut_texts.each do |shortcut| %>
      <li>
          <p><b> <%= shortcut.body %> -  </b>  </p> <%= link_to('Edit', edit_shortcut_text_path(shortcut))  %> | <td><%= link_to 'Delete', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
      </li>
      <% end %>
    </div>
</div>

</div>


</body>
