<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
        <li>
  <%= link_to('Settings', edit_user_registration_path)  %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>


<h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> </h1>

<h2> Email: <%= current_user.email %> </h2>


<% @all_users.each do |user| %>
    <li>
        <%= link_to user.first_name %>
    </li>
<% end %>