<%= form_for(shortcut_text) do |f| %>
  <% if shortcut_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shortcut_text.errors.count, "error") %> prohibited this shortcut_text from being saved:</h2>

      <ul>
      <% shortcut_text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.hidden_field :teacher_id %>
  </div>

  <div class="field">
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
