<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%=link_to('Home', root_path)%></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>
<h1>All English grades </h2>
<% if current_user.type == 'teacher' %>
  <%= link_to('Create English Grade', new_english_grade_path(:student_id => @student.id, :teacher_id => current_user.id))  %>
<% end %>
<% @all_english_grades.each do |grades| %>
  <div class="card">
            <div class="card-actions animate">
      <% if Time.zone.now < grades.grade_date && current_user.type == 'teacher' %> <%= link_to('Edit', edit_english_grade_path(grades)) %> |
      <td><%= link_to 'Delete', grades, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% elsif current_user.type == 'teacher' %>
      Grade delivered
      <% end %>
    </div>
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
    <% if grades.performance_grade == 'Not-started' && grades.subcategory == 'Writing' %>

        <% unless @generated_feedback_writing_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Writing' %>
        <% unless @generated_feedback_writing_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_writing_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Spelling' %>
        <% unless @generated_feedback_spelling_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_spelling_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Reading' %>
        <% unless @generated_feedback_reading_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_reading_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% end %>
        <% if @student.last_sign_in_at >= grades.grade_date %>
    <li> read</li>
    <% else %>
    <li> unread </li>
    <% end %>
</div>
<% end %>

<%= link_to 'Back', root_path %>
