<h1>New Maths Grade</h1>

<%= render 'form', maths_grade: @maths_grade %>

<%= link_to 'Back', choose_subjects_path(:student_id => @student.id, :teacher_id => current_user.id) %>

<div type = 'teacher_tips'>

<h3><%= @tip.title %></h3>

<%= @tip.body %>

</div>


  <% (@all_tips).each do |n| %>
   <button class="btn btn-success copy_to_clipboard" data-clipboard-text= "<%= n.title %>" > <p> <%= n.title %></p> </button>
  <% end %>


<script>
  jQuery.fn.copyToClipBoard = function() {
      var clip = new ZeroClipboard($(".copy_to_clipboard"));
  }
  $(function() {
    $('.copy_to_clipboard').copyToClipBoard();
  });
 </script>