<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>


<h1>New Maths Grade</h1>

<%= render 'form', maths_grade: @maths_grade %>

<%= link_to 'Back', choose_subjects_path(:student_id => @student.id, :teacher_id => current_user.id) %>

<div type = 'teacher_tips'>

<h3>Feedback Tip</h3>

<%= @tip.body %>

</div>

<h3>Select shortcuts </h3>

  <% (@all_shortcut_texts).each do |n| %>
   <button class="btn btn-success copy_to_clipboard" data-clipboard-text= "<%= n.body %>" > <p> <%= n.body %></p> </button>
  <% end %>


<script>
  jQuery.fn.copyToClipBoard = function() {
      var clip = new ZeroClipboard($(".copy_to_clipboard"));
  }
  $(function() {
    $('.copy_to_clipboard').copyToClipBoard();
  });
 </script>
