<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%=link_to('Home', root_path)%></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>
<h1>All maths grades </h2>



<% @all_maths_grades.each do |grades| %>
  <div class="card">
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
 <% if grades.performance_grade == 'Not-started' && grades.subcategory == 'Number' %>

        <% unless @generated_feedback_number_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Number' %>
        <% unless @generated_feedback_number_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Number' %>
        <% unless @generated_feedback_number_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Number' %>
        <% unless @generated_feedback_number_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_number_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Measurement' %>
        <% unless @generated_feedback_measurement_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_measurement_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Not-started' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_not_started.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_not_started.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-at' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_working_at.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_working_at.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Working-towards' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_working_towards.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_working_towards.auto_feedback %> </li>
        <% end -%>
    <% elsif grades.performance_grade == 'Greater-depth' && grades.subcategory == 'Geometry' %>
        <% unless @generated_feedback_geometry_greater_depth.blank? %>
             <li> Generated feedback:  <%= @generated_feedback_geometry_greater_depth.auto_feedback %> </li>
        <% end -%>
    <% end %>
  </div>
<% end %>

<br>


<%= link_to 'Back', root_path %>
