<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<style>
  body {
    padding-top: -50px;
  }
</style>

</head>

<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%=link_to('Home', root_path)%></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>
<h1>All maths grades </h2>
<%= link_to 'Back', root_path %>


<% @all_maths_grades.each do |grades| %>

  <div class="card">
            <div class="card-actions animate">
      <% if Time.zone.now < grades.grade_date && current_user.type == 'Teacher' %> <%= link_to('Edit', edit_english_grade_path(grades)) %> |
      <td><%= link_to 'Delete', grades, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% elsif current_user.type == 'Teacher' %>
      Grade delivered
      <% end %>
    </div>
    <h1 class="card-header"><%= grades.title %> </h1>
    <h2 class="card-subheader"><%=grades.subcategory%> <%= grades.grade_date %> </h2>
    <hr class="card-divider" />
    <li>Performance: <%=grades.performance_grade  %></li>
    <li>Feedback: "<%= grades.feedback  %>"</li>
    <% if Time.zone.now < grades.grade_date %>
      <li> Goes live in <%= distance_of_time_in_words(Time.zone.now, grades.grade_date) %>  </li>
    <% else %>
      <li> Published <%= time_ago_in_words(grades.grade_date) %> ago</li>
    <% end %>
    <% if current_user.type == 'Teacher' %>
        <% if @student.last_sign_in_at >= grades.grade_date %>
          <li> read</li>
          <% else %>
          <li> unread </li>
        <% end %>
    <% end %>
  </div>

<% end %>

<br>



