<h1>Auto feedback</h1>
<% if user_signed_in? %>
<ul id="navbar">
    <li class="active"><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Settings', edit_user_registration_path)  %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>
<% else %>
<ul id="navbar">
    <li><%= link_to('Home', root_path)  %></li>
    <li><%= link_to('Login', new_user_session_path)  %></li>
</ul>
<% end %>
<%= link_to('Back', teacher_index_path)  %>
<h3>English</h3>
<h4>Spelling</h4>
<b>Not Started</b>
<% if @spelling_recent_not_started.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Not-started', :subject => 'English', :subcategory => 'Spelling'))  %>
<% else %> "<%= @spelling_recent_not_started.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@spelling_recent_not_started))  %> | <td><%= link_to 'Delete', @spelling_recent_not_started, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>

<b>Working towards:</b>
<% if @spelling_recent_working_towards.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'English', :subcategory => 'Spelling'))  %>
<% else %> "<%= @spelling_recent_working_towards.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@spelling_recent_working_towards))  %> | <td><%= link_to 'Delete', @spelling_recent_working_towards, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>

<b>Working at:</b>
<% if @spelling_recent_working_at.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-at', :subject => 'English', :subcategory => 'Spelling'))  %>
<% else %> "<%= @spelling_recent_working_at.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@spelling_recent_working_at))  %> | <td><%= link_to 'Delete', @spelling_recent_working_at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<b>Greater depth:</b>
<% if @spelling_recent_greater_depth.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Greater-depth', :subject => 'English', :subcategory => 'Spelling'))  %>
<% else %> "<%= @spelling_recent_greater_depth.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@spelling_recent_greater_depth))  %> | <td><%= link_to 'Delete', @spelling_recent_greater_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>


<!-- Writing -->


<h4>Writing:</h4>
<b>Not Started</b>
<% if @writing_recent_not_started.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Not-started', :subject => 'English', :subcategory => 'Writing'))  %>
<% else %> "<%= @writing_recent_not_started.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@writing_recent_not_started))  %> | <td><%= link_to 'Delete', @writing_recent_not_started, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>

<b>Working towards:</b>
<% if @writing_recent_working_towards.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'English', :subcategory => 'Writing'))  %>
<% else %> "<%= @writing_recent_working_towards.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@writing_recent_working_towards))  %> | <td><%= link_to 'Delete', @writing_recent_working_towards, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>

<b>Working at:</b>
<% if @writing_recent_working_at.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-at', :subject => 'English', :subcategory => 'Writing'))  %>
<% else %> "<%= @writing_recent_working_at.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@writing_recent_working_at))  %> | <td><%= link_to 'Delete', @writing_recent_working_at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<b>Greater depth:</b>
<% if @writing_recent_greater_depth.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Greater-depth', :subject => 'English', :subcategory => 'Writing'))  %>
<% else %> "<%= @writing_recent_greater_depth.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@writing_recent_greater_depth))  %> | <td><%= link_to 'Delete', @writing_recent_greater_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>


<!-- Reading -->


<h4>Reading:</h4>
<b>Not Started</b>
<% if @reading_recent_not_started.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Not-started', :subject => 'English', :subcategory => 'Reading'))  %>
<% else %> "<%= @reading_recent_not_started.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@reading_recent_not_started))  %> | <td><%= link_to 'Delete', @reading_recent_not_started, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>

<b>Working towards:</b>
<% if @reading_recent_working_towards.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'English', :subcategory => 'Reading'))  %>
<% else %> "<%= @reading_recent_working_towards.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@reading_recent_working_towards))  %> | <td><%= link_to 'Delete', @reading_recent_working_towards, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>

<b>Working at:</b>
<% if @reading_recent_working_at.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-at', :subject => 'English', :subcategory => 'Reading'))  %>
<% else %> "<%= @reading_recent_working_at.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@reading_recent_working_at))  %> | <td><%= link_to 'Delete', @reading_recent_working_at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<b>Greater depth:</b>
<% if @reading_recent_greater_depth.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Greater-depth', :subject => 'English', :subcategory => 'Reading'))  %>
<% else %> "<%= @reading_recent_greater_depth.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@reading_recent_greater_depth))  %> | <td><%= link_to 'Delete', @reading_recent_greater_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<!-- Maths -->

<h3>Maths</h3>
<h4>Number</h4>
<b>Not Started</b>
<% if @number_recent_not_started.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Not-started', :subject => 'Maths', :subcategory => 'Number'))  %>
<% else %> "<%= @number_recent_not_started.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@number_recent_not_started))  %> | <td><%= link_to 'Delete', @number_recent_not_started, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>

<b>Working towards:</b>
<% if @number_recent_working_towards.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'Maths', :subcategory => 'Number'))  %>
<% else %> "<%= @number_recent_working_towards.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@number_recent_working_towards))  %> | <td><%= link_to 'Delete', @number_recent_working_towards, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>

<b>Working at:</b>
<% if @number_recent_working_at.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-at', :subject => 'Maths', :subcategory => 'Number'))  %>
<% else %> "<%= @number_recent_working_at.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@number_recent_working_at))  %> | <td><%= link_to 'Delete', @number_recent_working_at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<b>Greater depth:</b>
<% if @number_recent_greater_depth.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Greater-depth', :subject => 'Maths', :subcategory => 'Number'))  %>
<% else %> "<%= @number_recent_greater_depth.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@number_recent_greater_depth))  %> | <td><%= link_to 'Delete', @number_recent_greater_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<!-- Measurement -->

<h4>Measurement</h4>
<b>Not Started</b>
<% if @measurement_recent_not_started.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Not-started', :subject => 'Maths', :subcategory => 'Measurement'))  %>
<% else %> "<%= @measurement_recent_not_started.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@measurement_recent_not_started))  %> | <td><%= link_to 'Delete', @measurement_recent_not_started, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>

<b>Working towards:</b>
<% if @measurement_recent_working_towards.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'Maths', :subcategory => 'Measurement'))  %>
<% else %> "<%= @measurement_recent_working_towards.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@measurement_recent_working_towards))  %> | <td><%= link_to 'Delete', @measurement_recent_working_towards, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>

<b>Working at:</b>
<% if @measurement_recent_working_at.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-at', :subject => 'Maths', :subcategory => 'Measurement'))  %>
<% else %> "<%= @measurement_recent_working_at.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@measurement_recent_working_at))  %> | <td><%= link_to 'Delete', @measurement_recent_working_at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<b>Greater depth:</b>
<% if @measurement_recent_greater_depth.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Greater-depth', :subject => 'Maths', :subcategory => 'Measurement'))  %>
<% else %> "<%= @measurement_recent_greater_depth.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@measurement_recent_greater_depth))  %> | <td><%= link_to 'Delete', @measurement_recent_greater_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<!-- Geometry -->

<h4>Geometry</h4>
<b>Not Started</b>
<% if @geometry_recent_not_started.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Not-started', :subject => 'Maths', :subcategory => 'Geometry'))  %>
<% else %> "<%= @geometry_recent_not_started.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@geometry_recent_not_started))  %> | <td><%= link_to 'Delete', @geometry_recent_not_started, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>

<b>Working towards:</b>
<% if @geometry_recent_working_towards.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-towards', :subject => 'Maths', :subcategory => 'Geometry'))  %>
<% else %> "<%= @geometry_recent_working_towards.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@geometry_recent_working_towards))  %> | <td><%= link_to 'Delete', @geometry_recent_working_towards, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br>

<b>Working at:</b>
<% if @geometry_recent_working_at.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Working-at', :subject => 'Maths', :subcategory => 'Geometry'))  %>
<% else %> "<%= @geometry_recent_working_at.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@geometry_recent_working_at))  %> | <td><%= link_to 'Delete', @geometry_recent_working_at, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<b>Greater depth:</b>
<% if @geometry_recent_greater_depth.blank? %>
<%= link_to('Create Generated Feedback', new_generated_feedback_path(:teacher_id => current_user.id, :performance_grade => 'Greater-depth', :subject => 'Maths', :subcategory => 'Geometry'))  %>
<% else %> "<%= @geometry_recent_greater_depth.auto_feedback %>" </li> |
<%= link_to('Edit', edit_generated_feedback_path(@geometry_recent_greater_depth))  %> | <td><%= link_to 'Delete', @geometry_recent_greater_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

